body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; /* Center items vertically */
}

img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Add margin to the right of the image for spacing */
}

h1 {
    margin: 0;
}

nav {
    margin: 0;
    margin-right: auto; /* Push the nav to the right to align with the right edge of the header */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px; /* Add spacing between navigation links */
}

/* Style the navigation links on hover */
nav a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 5px 0;
    }
}