body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    margin: 0;
    margin-right: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}

#videoContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.hero {
    position: relative;
    z-index: 5;
}

.content {
    max-width: 800px; /* Adjust as needed */
    margin: 336px auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
